# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ambiente virtual
venv/
env/
ENV/

# Banco de dados local
*.db
*.sqlite

# Logs
*.log
*.out
servidor.log
cliente.log

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.bak
teste*.img
teste_disco/
